.toolbar {
   padding: 20px;
}

.toolbar__filters-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin: 0;
   padding: 0;
   list-style: none;
}

.toolbar__filters-item {
   margin: 0 10px;
}

.toolbar__filters-item:not(:last-child) {
   margin-right: 10px;
}

.toolbar__filter-btn {
   display: inline-block;
   padding: 5px 10px;
   border-radius: 5px;
   border: none;
   background-color: #0D1117;
   color: #F7F6F2;
   text-decoration: none;
   transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
   cursor: pointer;
   font-size: 20px;
}

.toolbar__filter-btn:hover,
.toolbar__filter-btn:focus,
.toolbar__filter-btn:focus .toolbar__filter-btn--active
.toolbar__filter-btn:hover .toolbar__filter-btn--active {
   background-color: #202124;
   color: #F7F6F2;
   outline: none;
}

.toolbar__filter-btn--active {
   background-color: #F7F6F2;
   color: #0D1117;
}